.footer {
	background: rgba(15, 15, 15, 0.705);
	color: #c8d2dc;
}

.footer-container {
	display: flex;
	padding: 5%;
	.footer-logo {
		padding-right: 100px;
		margin-top: -10px;
		width: 400px;
	}
}

.foot-list {
	float: left;
	white-space: nowrap;
	text-align: left;

	ul {
		padding: 0;
		li {
			color: whitesmoke;
			list-style: none;
			font-size: 0.8em;
			line-height: 2em;
			opacity: 0.8;
			text-decoration: none;
			&:hover {
				opacity: 0.8;
				text-decoration: underline;
			}
		}
	}
}

@media only screen and(max-width: $mDevice) {
	.palla-text {
		height: 500px;
	}
	#slogan {
		font-size: 2em !important;
	}
	.footer-container {
		flex-direction: column;
		.footer-logo {
			padding-right: 0;
			width: 100%;
			padding-bottom: 3em;
			width: auto;
		}
	}
}
