.footer {
	background: rgba(15, 15, 15, 0.705);
	color: #c8d2dc;
}

.footer-container {
	display: flex;
	flex-flow: row flex-start;
	width: 80%;
	padding: 5%;
	.footer-logo {
		margin-top: -10px;
		width: 40%;
	}
	li {
		list-style: none;
	}
}

.col-sm-3 {
	white-space: nowrap;
}
