.navbar {
	background: linear-gradient(
		90deg,
		rgba(77, 228, 206, 1) 0%,
		rgba(60, 188, 212, 1) 47%,
		rgba(51, 174, 209, 0.9136029411764706) 93%
	) !important;
	-webkit-text-stroke: 0.5px white;
	a {
		&:hover {
			border-left: solid #2a4052;
		}
	}
}

#second-nav {
	float: left;
	a {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

@media only screen and(max-width: $mDevice) {
	.navbar-toggler {
		position: absolute;
		left: 20px;
	}
	.navbar-brand {
		margin-left: 41% !important;
	}
	#second-nav {
		#user,
		#unit,
		.lang {
			display: none;
		}
		a {
			display: flex;
			flex-direction: row;
			svg {
				margin-right: 1em;
			}
		}
	}
}

.carousel {
	-webkit-text-stroke: 0.5px black;
	background: #5bb9ff;
	img {
		overflow: hidden;
		margin: auto;
		max-width: 100%;
		height: 320px;
	}
}

#card-container {
	width: 80%;
	padding: 0.5rem;
	margin: 2em auto;
	min-height: 420px;
}
.react-multi-carousel-list {
	position: static;
	.react-multi-carousel-dot-list {
		position: relative;
		margin-left: 50%;
	}
}
