#parallax {
	background: linear-gradient(45deg, rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.5)),
		linear-gradient(rgba(0, 0, 0, 0.74), rgba(200, 200, 200, 0.5)), black;
	width: 100%;
	min-height: 898px;
	height: 100vh;
	background-position: 50% 100%;
	background-repeat: no-repeat;
	position: relative;
	background-size: cover;
	&:after {
		content: "";
		background: url("./img/night-sky.jpg");
		position: absolute;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 50% 100%;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
	}
}

.edificio {
	position: absolute;
	bottom: 0;
	z-index: 10;
	img {
		width: 60%;
		min-width: 700px;
		float: right;
	}
}

.plane {
	z-index: 100;
	position: absolute;
	img {
		width: 80%;
		right: 20;
	}
}

.palla-text {
	z-index: 11;
	background: white;
	width: 100%;
	height: 200px;
	p {
		z-index: 11;
		font-size: 3em;
		color: grey;
		text-align: center;
	}
}
